<div *ngIf="currentQuestion">
  <h1>{{ currentQuestion.question }}</h1>
  <div *ngIf="currentQuestion.type === 'true_false'">
    <label
      ><input type="radio" [(ngModel)]="userAnswer" value="true" /> True</label
    >
    <label
      ><input type="radio" [(ngModel)]="userAnswer" value="false" />
      False</label
    >
  </div>
  <ng-container *ngIf="currentQuestion.type === 'multiple_choice'">
    <div *ngFor="let option of currentQuestion.options">
      <label>
        <input type="radio" [(ngModel)]="userAnswer" [value]="option" />
        {{ option }}
      </label>
    </div>
  </ng-container>
  <button (click)="submitAnswer()">Submit</button>
</div>
